body {
  background-color: rgba(10, 5, 10, 0.5);
}

.box {
  width: 400px;
  height: 150px;
  background-color: rgba(49, 22, 99, 0.2)
}

.inputCard {
  width: 100px;
}

#result {
  width: 500px;
  margin: auto auto;
}

.imgBox {
  /* margin-left: 30px; */
  width: 200px;
  margin: 0 auto;
  text-align: "center";
}
.item {
  padding: 30px;
  background-color: rgba(65, 36, 65, 0.1);
  border: 1px solid rgb(34, 13, 13);
}
.divBtn {
  width:100px;
  margin: 0 auto;
}